repos:
  - repo: builtin
    hooks:
      - id: trailing-whitespace
      - id: check-toml
      - id: end-of-file-fixer

  - repo: https://github.com/asottile/add-trailing-comma
    rev: v4.0.0
    hooks:
      - id: add-trailing-comma

  - repo: https://github.com/crate-ci/typos
    rev: v1.38.1
    hooks:
      - id: typos

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: [
            '--exclude-lines', 'amqp://guest:guest@localhost:5672',
        ]

  - repo: local
    hooks:
      - id: black
        name: Format with Black
        entry: uv run black
        language: system
        types: [python]

      - id: ruff
        name: Run ruff lints
        entry: uv run ruff
        language: system
        pass_filenames: false
        types: [python]
        args:
          - "check"
          - "--fix"
          - "taskiq_aio_pika"
          - "tests"

      - id: ty
        name: Validate types with ty
        entry: uv run ty
        language: system
        pass_filenames: false
        types: [python]
        args:
          - "check"
          - ./taskiq_aio_pika
          - ./tests
