services:
  rabbitmq:
    container_name: taskiq_aio_pika_rabbitmq
    image: heidiks/rabbitmq-delayed-message-exchange:latest
    # image: rabbitmq:3.13.7-management   # rabbit with management UI for debugging
    environment:
      RABBITMQ_DEFAULT_USER: "guest"
      RABBITMQ_DEFAULT_PASS: "guest"
      RABBITMQ_DEFAULT_VHOST: "/"
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "check_running", "-q"]
      interval: 10s
      timeout: 5s
      retries: 8
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
  redis:
    container_name: taskiq_aio_pika_redis
    image: redis:latest
    ports:
      - "6379:6379"

volumes:
  rabbitmq_data:
